[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
celery = {extras = ["redis"], version = "*"}
redis = "*"
groq = "*"
python-dotenv = "*"
requests = "*"
django-celery-results = "*"
django-celery-resultspython = "*"
"manage.py" = "*"
migrate = "*"

[dev-packages]

[requires]
python_version = "3.13"
